*{
  /* padding: 0px; */
  /* box-sizing: border-box; */
}
body{
  background-color: grey;
  margin: 0px;
  font-family: segoe UI;
}
.header-area{
  background-color: #24222F;
  padding-top: 100px;
  padding-bottom: 30px;
}
.header-area img{
  width: 100px;
  height: auto;

}
.header-area h1{
  text-transform: uppercase;
  font-size: 40px;
}
.header-area p{
  font-size: 14px;
}
.header-area a{
  text-decoration: none;
  color: white;
  width: 12px;
}
.container{
  width: 60%;
  margin: auto;
  text-align: center;
  color: white;
}
